﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<script type="text/javascript">
    $('#toast-container').html(`<div class="alert alert-success" id="toast">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
    </button>
    <h5>
    <i class="icon fa fa-check"></i>
    Success
    </h5>
    @TempData["Msg"]
    </div>`).hide();
    $('#toast-container').fadeIn();
</script>

