@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EmployeeList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="employees" data-id="@Model.Content.Id"></div>
