@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Entity>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div id="employees" data-id="@Model.Content.Children().First().Id"></div>
 
