
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ITmodule>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<p>@Members.GetCurrentMember().Name</p>

<p>asdasd</p>


