@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.JobPostList>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "Master.cshtml";
    }
    <div id="jobposts" data-id="@Model.Content.Id"></div>
