@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Modules>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

<section class="content">
    <div id="charts"></div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</section>
